{% extends 'base.html' %}

{% block title %}
{{ article.headline }}
{% endblock %}

{% block content %}
{% load static %}
<div class="container article-content-inner">
    <div class="row">
        <div class="col-sm-12">
            <div class="article-header">
                <header>
                    <div id="adv_text" class="adv-heading"></div>
                    <h1>{{ article.headline }}</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="row">
        <main class="col-sm-7 col-md-8">
            <div class="author-tagline author-inline">
                <div class="author-and-date">
                    <div class="author-byline">
                        <div class="author-name">{{ article.byline }}</div>
                        {% with author=article.authors.first %}
                            <div class="author-username">
                                <a href="{% url 'author-hotlink' author.author_id %}">{{ author.username|default:"" }}</a>
                            </div>
                        {% endwith %}

                    </div>
                    <div class="article-pub-date">
                        <div class="publication-date">
                            {{ article.publish_at|date }} at {{ article.publish_at|time:"g:iA" }}
                        </div>
                    </div>
                </div>
            </div>
            <section class="article-body">
                <div class="article-content">
                    {{ article.body|cut:"{%sfr%}"|safe }}
                    <div id="pitch">
                        {{ article.pitch.text|safe }}
                    </div>
                </div>
                <div class="article-disclosure">
                    {{ article.disclosure|safe }}
                </div>
            </section>
            {% load comments %}
            {% load comments_xtd %}
            <hr>
            <div class="comments-container">
                <div>
                    {% render_xtdcomment_tree for article %}
                </div>
                <div class="comments-form">
                    {% render_comment_form for article %}
                </div>
            </div>
        </main>
        <aside class="col-sm-5 col-md-4 p-l">
            <section class="related-tickers">
                <div class="block-title">
                    <hr>
                    <h2>Stocks</h2>
                </div>
                {% for quote in quotes %}
                <div class="ticker-row">
                    <div>
                        <span class="image-wrap">
                            <a href="#">
                                <img src="{% url 'company-logo' quote.Symbol %}" class="img-responsive" alt="{{ quote.Symbol }}">
                            </a>
                        </span>
                        <h3>{{ quote.CompanyName}}</h3>
                        <h4>
                            <span class="ticker">
                                <a title="{{ quote.CompanyName }} Stock Quote" href="#">
                                    {{ quote.Exchange }}:<span class="symbol">{{ quote.Symbol }}</span>
                                </a>
                            </span>
                        </h4>
                        <aside class="price-quote-container">
                            <h4 class="current-price">
                                ${{ quote.CurrentPrice.Amount }}
                            </h4>
                            <h4 class="price-change-amount {% if quote.Change.Amount >= 0 %}price-pos{% else %}price-neg{% endif %}">
                                {% if quote.change.Amount >= 0 %}
                                ${{ quote.Change.Amount }}
                                {% else %}
                                ${{ quote.Change.Amount|cut:"-"}}
                                {% endif %}
                            </h4>
                            <h4 class="price-change-percent {% if quote.PercentChange.Value >= 0 %}price-pos{% else %}price-neg{% endif %}">
                                ({{ quote.PercentChange.Value|floatformat:2 }}%)
                            </h4>
                        </aside>
                    </div>
                </div>
                {% endfor %}
                <button id="quotes-shuffler" class="btn btn-primary">Shuffle</button>
</section>
<section class="read-more-section">
    <div class="block-title">
        <hr>
        <h2>Read More</h2>
    </div>
    <ul class="two-line-list">
        {% for article in suggested %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></li>
        {% endfor %}
    </ul>
</section>
</aside>
</div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static 'js/article-detail.js' %}"></script>
{% endblock %}