{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% load static %}
<div class="container content-inner">
    <div class="main-col">
        <section class="jumbo-card card">
            <div class="card-image">
                <a href="{% url 'article-detail' 'f52c15f2-c5a9-11e7-8889-0050569d4be0' %}"><img src="{{ featured.images.0.image }}"
                        alt="" class="img-responsive"></a>
            </div>
            <div class="card-elements">
                <div class="card-header">
                    <a href="{% url 'article-detail' featured.uuid %}">
                        <h3>{{ featured.headline }}</h3>
                    </a>
                    <p class="author">{{ featured.byline }} | {{ featured.publish_at }}</p>
                </div>
                <div class="card-copy">
                    <p>{{ featured.promo }}</p>
                </div>
            </div>
        </section>
    </div>
    <div class="cards row">
        {% for article in articles %}
            <div class="card">
                <div class="card-image">
                    <a href="{% url 'article-detail' article.uuid %}">
                        <img src="{{ article.images.0.image }}" alt="">
                    </a>
                </div>
                <div class="card-elements">
                    <div class="card-header">
                        <a href="{% url 'article-detail' article.uuid %}">
                            <h4>{{ article.headline }}</h4>
                        </a>
                        <p class="author">{{ article.byline }} | {{ article.publish_at |date }}</p>
                    </div>
                    <div class="card-copy">
                        {{ article.promo }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}