{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
{% load static %}
<div class="container content-inner">
    <div class="main-col">
        <section class="jumbo-card card">
            {% include "articles/article_card_snippet.html" with article=featured only %}
        </section>
    </div>
    <div class="cards row">
        {% for article in articles %}
            <div class="card">
                {% include "articles/article_card_snippet.html" with article=article only %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}